POSTGRES_IMAGE=im-agent-bridge-postgres:18-pgcron
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_PORT=5432

POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-db

CRON_DATABASE_NAME=your-db
