TELEGRAM_BOT_TOKEN=<your-telegram-bot-token>
TELEGRAM_CHAT_ID_PRIVATE=<telegram-private-chat-id>
TELEGRAM_CHAT_ID_GROUP=<telegram-group-chat-id>
GATEWAY_URL=http://<internal-server-ip>:8080
GATEWAY_BEARER_TOKEN=<your-gateway-bearer-token>
EDGE_PRIVATE_IP=<edge-server-private-ip>
